= I18n.t(".system_mailer.new_issue_posted.information.greeting", :name => @ticket.name)
= I18n.t(".system_mailer.new_issue_posted.information.reported", :ref => @ticket.reference_number)
= I18n.t(".system_mailer.new_issue_posted.information.check", :link => @link )
= I18n.t(".system_mailer.new_issue_posted.information.signature")