/*
*= require_self
*= require_tree .
*/

header, #nav, #staff { 
  width: 100%;
  clear: both;
}

header { height: 50px;}

#nav, #staff   { margin-bottom: 50px;}

.left { float: left;}
.right { float: right;}